# PYTHON BASIC

Q1.  Explain the key features of Python that make it a popular choice for programming?
## ->  Python is a programming language that is easy to understand and write.It is a open source , highlevel,interpreted scripting language.
  
  > The key features of python that make it a popular choice for programming are:

   1>  Easy to Learn & Use.

   2>  Rich ecosystem of liabraries - Pandas,Numpy etc.
   
   3>  Interpreted Language - Runs code line-by-line, great for debugging.
   
   4>  Versatile - Used in web development, data science, automation, AI, etc.
   
   5>  Object-Oriented & Functional - Supports multiple programming paradigms.
   
   6>  Cross-Platform - Runs on Windows, macOS, Linux, etc.
   
   7>  Extensible & Embeddable - Can integrate with C/C++ and other languages.
   
   8>  Free and open source.
   
   9>  Community - Big and active community.

Q2.  Describe the role of predefined keywords in Python and provide examples of how they are used in a program?

   ->  predefined keywords are reserved words that have special meanings and are used to define the structure and syntax of the language. These keywords cannot be used as variable names, function names, or any other identifiers.
      *Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.

   Example:

   1> Conditional Statements

      #  if, else, elif

In [ ]:
x = 5
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than  to 10")

x is less than  to 10

In [ ]:
age = 10
if age>= 18:
  print("you will served alchol")
else:
  print("get out of bar")

get out of bar

2>  Loop Statements

# while

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

3> Control Statements

# break

In [ ]:
x = 7
y = 1
while y<x:
  print(y)
  y=y+1
  if y == 3:
    break

1
2

# Problem Statement
# Print a square of star

In [ ]:
for i in range(4):
    for j in range(8):
        print("*", end = "")
    print()

********
********
********
********

Q3.  Compare and contrast mutable and immutable objects in Python with examples?

   -> In Python, objects can be classified into two categories: mutable and immutable.
    
    #Mutable
    Definition: Can be changed after creation

    Examples: list, dict, set, bytearray


   #Immutable
   Definition: Cannot be changed after creation

   Examples: int, float, str, tuple, frozenset


   #Mutable Example

In [ ]:
list_cont = [1,2,3,50,60,"ajay","aman"]
list_cont

[1, 2, 3, 50, 60, 'ajay', 'aman']

In [ ]:
list_cont[0] = 100

In [ ]:
list_cont

[100, 2, 3, 50, 60, 'ajay', 'aman']

# Immutable
 string is a type of immutable object

In [ ]:
x = "Aman"
x

'Aman'

In [ ]:
x[0] = "y"

TypeError: 'str' object does not support item assignment

Q4.  Discuss the different types of operators in Python and provide examples of how they are used?

  -> Operator is a special keywords to perform operations.There are several types of operators, each serving a different purpose.

  # Arithmetic Operation

In [ ]:
x = 3
y = 5
print(x+y)
print(y-x)
print(x*y)

8
2
15

# Comparison Operators
     Used to compare values

In [ ]:
print(5>3)
print(5 == 10)

True
False

# Membership operator
    Value exists in sequence

In [ ]:
a = "PWSKILLS"

"P" in a

True

In [ ]:
"data" in "PWSKILLS"

False

#  Identity operator
     compare the memory location of two object

In [ ]:
x=5
y=10
x is y

False

In [ ]:
x = "aman"
y = "nihal"
x is y

False

# Bitwise operator
   Operation at bit level

In [ ]:
bin(7)

'0b111'

Q5. Explain the concept of type casting in Python with examples?
   -> It is the process of converting one data type into another. Python provides two types of type casting: implicit and explicit.

     #Implicit Type Casting
       Python automatically converts one data type to another during an operation.

In [ ]:
x = 100
y = 2.0
z = x + y
print(z)

102.0

#Explicit Type Casting:
  You manually convert one data type into another using functions like:
  
   int()

   
   float()
   
   str()
   
   bool()

In [ ]:
x = "100"
y = int(x)
print (y)

100

In [ ]:
x = "100"
y = float(x)
print(y)

100.0

Q6. How do conditional statements work in Python? Illustrate with examples?

   -> Conditional statements in Python are used to execute certain blocks of code based on whether a condition is true or false. The main conditional statements in Python are:

    a. if statement
       The if statement is used to execute a block of code if a certain condition is true

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

  b. If, else statement

In [ ]:
age = 10
if age>= 18:
  print("you will served alchol")
else:
  print("get out of bar")

get out of bar

Q7.   Describe the different types of loops in Python and their use cases with examples?

  -> Loops in python allows you to execute a block code repeatedly.

    Two primary types of loops are:
    1. for loops
    2. while loops

#for loops
   loops are used for iterating over a sequence of elements.

In [ ]:
names=("aman","nihal","ravi")
for name in names:
  print (name)

aman
nihal
ravi

# while loops
    while loops are used for executing code until a specified condition becomes False.

In [7]:
count=5
while count>0:
  print(count)
  count=count-1

5
4
3
2
1

In [10]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

# Break
   
   Used to exit the loop prematurely

In [11]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4